@{
    ViewBag.Title = "About";
}
<h1 class="aboutTitle">@ViewBag.Title</h1>
<h3 class="blurbTitle">Why we began</h3>

<p class="blurbTitle">Sunset Central was created to rate sunsets throughout the world for photographers - or plain old sunset lovers - to find that ideal sunset. We hope you find our page helpful for getting thatperfect spot for whetever your needs may be.</p>
